# Don't track content of these folders
bower_components/
themes/
web/
.idea/
node_modules/
/jet-on-node/public

/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

# Compiled source #
###################
*.sh
*.class
*.dll
*.o
*.so

.DS_Store
Thumbs.db