<div class="oj-hybrid-padding">
  <h1>Volthread - Oracle Clouds - Webshop - v2.0</h1>
  <!-- <p>Current user:<span data-bind="text: $root.userLogin"></span></p> -->
  <div>
    <img src='../../css/images/shopWindow.jpg' class='iconbtnintext' data-bind="click: enterCatalog"
      title="The Culture Shop" />
  </div>
</div>

<!-- Chart Options -->
<div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
  <div id="barChart" data-bind="ojComponent: {
                              component: 'ojChart',
                              type: 'bar',
                              orientation: orientationValue,
                              stack: stackValue,
                              series: barSeriesValue,
                              groups: barGroupsValue,
                              animationOnDisplay: 'auto',
                              animationOnDataChange: 'auto',
                              hoverBehavior: 'dim'
                          }" style="max-width:400px;width:100%;height:280px;" xmlns="http://www.w3.org/1999/xhtml">  
  </div>
</div>
<!-- End Charts Options -->