<p style="display:none">Frame source : <span data-bind="text: $root.ORDERS_PORTAL_URL+'?orderId='
    +(($root.globalContext.order && $root.globalContext.order.orderIdentifier) ? $root.globalContext.order.orderIdentifier:'')
    +'&customerId='
            +(($root.globalContext.customer && $root.globalContext.customer.customerIdentifier) ? $root.globalContext.customer.customerIdentifier:'')"></span> )</p>

<iframe id="ordersIframe" data-bind="attr: {src:  $root.ORDERS_PORTAL_URL+'?orderId='
+(($root.globalContext.order && $root.globalContext.order.orderIdentifier) ? $root.globalContext.order.orderIdentifier:'')
+'&customerId='
        +(($root.globalContext.customer && $root.globalContext.customer.customerIdentifier) ? $root.globalContext.customer.customerIdentifier:'')
}" style="overflow-y : hidden ; height : 600px ; width :  100% ;border-width:0;" scrolling="yes" /></div>
  
  